# Database
DATABASE_URL="postgresql://user:password@localhost:5432/isekai?schema=public"

# NextAuth.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here-generate-a-random-string
POSTGRES_URL="postgres://39a856b99d345a52bb841941def3feb9601ca715775c23c734f869786ffd0177:sk_ApHAh1lNxK6nReRQNOe5E@db.prisma.io:5432/postgres?sslmode=require"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19BcEhBaDFsTnhLNm5SZVJRTk9lNUUiLCJhcGlfa2V5IjoiMDFLN01STVA0QTBGUU5WRzBKUVE4N1ZCMFoiLCJ0ZW5hbnRfaWQiOiIzOWE4NTZiOTlkMzQ1YTUyYmI4NDE5NDFkZWYzZmViOTYwMWNhNzE1Nzc1YzIzYzczNGY4Njk3ODZmZmQwMTc3IiwiaW50ZXJuYWxfc2VjcmV0IjoiZDFmYWE3NzItN2MzNC00ZmM1LWI3NWQtZGJjNzI2MTc0YmVkIn0.vFP9afJPzXp62FhMYT0j6waAL0TMk0JfMu9up9is-_8"
PRISMA_DATABASE_URL="postgres://39a856b99d345a52bb841941def3feb9601ca715775c23c734f869786ffd0177:sk_ApHAh1lNxK6nReRQNOe5E@db.prisma.io:5432/postgres?sslmode=require"